# Xcode
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# SwiftPM Packages
/.build/
/Packages/
/.swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
